// import style library
@import '../../../App.css';
@import '../../../scss/Variable.scss';

// style for Aproduct 
.aproduct {
    width: 22%;
    padding: 5px;
    margin: 0 15px;
    margin-top: 50px;
    border: 1px solid transparent;
    margin-top: 50px;
    font-size: $font-size-14;
    font-weight: $font-weight-700;
    a{
        color: $color-default-white;
    }
    .aproduct__image {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $color-default-white;
        margin-bottom: 5px;
        a {
            width: 100%;
        }
        img{
            width: 100%;
            opacity: 0;
            transition-duration: 500ms;
        }
        .aproduct__sale{
            position: absolute;
            top: 0;
            right: 0;
            padding: 5px 10px;
            background-color: $color-default-sale;
        }
        .aproduct__sold-out {
            position: absolute;
            top: 0;
            right: 0;
            padding: 5px 10px;
            background-color: $color-default-sale;
        }
        .aproduct__image__select-wrapper{
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            overflow: hidden;

            .aproduct__image__select{
                width: 75%;
                margin: 0 auto;
                padding-bottom: 10px;
                display: grid;
                grid-template-columns: auto auto auto;
                column-gap: 5px;
                
                button[type=button] {
                    padding: 5px 10px;
                    background-color: $color-default-gray;
                    border: none;
                    border-radius: 0;
                    font-size: $font-size-18;
                    font-weight: $font-weight-700;
                    color: $color-default-white ;
                }
                .aproduct__image__select__search-plus{
                    transform: translateX(-80px);
                    transition: 0.4s ease-in-out;
                }
                .aproduct__image__select__check-out{
                    transform: translateY(50px);
                    transition: 0.4s ease-in-out;
                }
                .aproduct__image__select__cart-plus{
                    transform: translateX(80px);
                    transition: 0.4s ease-in-out;
                }
            }
        }
    }
    hr {
        border: 0.5px solid $color-default-lightgray;
    }
    .aproduct__contents{
        margin-top: 5px;
        .aproduct__contents__name{
            margin-bottom: 5px;
            p{
                color: $color-default-black;
            }
        }
        .aproduct-contents__price{
            display: flex;
            justify-content: space-between;
            p:first-child{
                color: $color-default-youtube;    
            }
            p:last-child{
                color: $color-default-lightgray;
            }
        }
    }
}
.aproduct:hover{
    border: 1px solid $color-default-lightgray;
    .aproduct__image{
        .aproduct__image__select-wrapper{
            .aproduct__image__select{
                .aproduct__image__select__search-plus{
                    transform: translateX(0) !important;
                    transition: 0.4s ease-in-out;
                }
                .aproduct__image__select__check-out{
                    transform: translateY(0) !important;
                    transition: 0.4s ease-in-out;
                }
                .aproduct__image__select__cart-plus{
                    transform: translateX(0) !important;
                    transition: 0.4s ease-in-out;
                }
            }
        }
    }
}
@media only screen and (max-width: 1366px) {
    .product-filter {
        .aproduct {
            width: 29%;
        }
    }
}

@media only screen and (max-width: 1200px) {
    .aproduct {
        &__image{
            &__select {
                width: 80% !important;
            }
        }        
    }
    .product-filter {
        .aproduct {
            width: 27%;
        }
    }
}

@media only screen and (max-width: 1040px) {
    .aproduct {
        margin-left: 10px;
        margin-right: 10px;
        &__image{
            &__select {
                width: 100% !important;
                button[type=button] {
                    padding: 5px 5px !important;
                }
            }
        }        
    }
}
@media only screen and (max-width: 768px) {
    .aproduct {
        width: 30%;
        &__image{
            &__select {
                display: none !important;
            }
        }        
    }
}
@media only screen and (max-width: 600px) {
    .aproduct {
        width: 29%;       
    }
}
@media only screen and (max-width: 480px) {
    .aproduct {
        width: 44%;       
    }
}
@media only screen and (max-width: 340px) {
    .aproduct {
        width: 43%;       
    }
}

// style for product in product filter
