// import style library
@import "../../../App.css";
@import "../../../scss/Variable.scss";

// style for function
.statistics {
  padding: 30px 0;
  background-color: $color-default-white;
  min-height: 700px;
  position: relative;
  z-index: 2;
  font-size: $font-size-14;
  line-height: 1.4;

  h2 {
    padding-bottom: 20px;
    font-size: 24px;
    font-weight: 600;
  }

  &__update {
    &__grid {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      column-gap: 30px;
      margin-bottom: 30px;
    }

    &__column {
      font-size: 16px;
      font-size: 16px;
      border-radius: 0.25rem;
      padding: 0.75rem;

      h3 {
        text-align: center;
        font-weight: 400;
        padding-bottom: 10px;
        color: #2f4b7c;
      }

      .chart {
        clip-path: circle(50% at 50% 50%);
        width: 100px;
        height: 100px;
        background-color: #2f4b7c;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 32px;
        font-weight: 600;
        color: white;
        margin: 0 auto;

        sup,
        sub {
          cursor: pointer;
        }
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  .statistics {
    padding: 30px;
  }
}
@media only screen and (max-width: 768px) {
  .statistics {
    &__manager {
      &__grid {
        display: block;
      }
    }
  }
}
@media only screen and (max-width: 480px) {
  .statistics {
    padding: 15px;
  }
}
