// import style library
@import '../../../App.css';
@import '../../../scss/Variable.scss';

// style for product-detail
.pop-up-detail{
    margin-top: 50px;
    margin-bottom: 50px;
    color: $color-default-black;
    .wrapper {
        max-width: 1170px;
        margin: 0 auto;
        .product-detail-grid{
            display: grid;
            grid-template-columns: 5fr 6fr;
            grid-column-gap: 30px;

            .product-detail__main-image{
                .product-detail__main-image__image{
                    height: 443px;
                    border: 1px solid $color-default-lightgray;
                    margin-bottom: 10px;
                }
                
                .product-detail__list-image{
                    .product-detail__list-image__image {
                        display: inline-block;
                        width: 100px;
                        height: 100px;
                        overflow: hidden;
                        margin-bottom: 10px;
                        margin-right: 10px;
                        border: 1px solid $color-default-lightgray;
                    }
                } 
            }


            .product-detail__content{
                #add-to-cart{
                    margin-bottom: 10px;
                }
                .product-detail__content__header{
                    border-bottom: 1px solid $color-default-lightgray;
                    margin-bottom: 10px;
                    span{
                        margin: 0 5px;
                    }
                    h2{
                        margin: 0;
                    }
                    p{
                        margin-bottom: 10px;
                    }
                    .product-detail__content__header__brand,
                    .product-detail__content__header__type,
                    .product-detail__content__header__code{
                        display: inline-block;
                    }
                }
                .product-detail__content__price{
                    border-bottom: 1px solid $color-default-lightgray;
                    margin-bottom: 10px;
                    p{
                        margin-bottom: 10px;
                    }
                    .product-detail__content__price__current-price{
                        display: inline-block;
                        color: $color-default-youtube;
                        margin-right: 20px;
                        font-weight: 700;
                        font-size: 24px;
                    }
                    .product-detail__content__price__original-price{
                        display: inline-block;
                        color: $color-default-lightgray;
                        margin-right: 20px;
                        font-weight: 700;
                        font-size: 24px;
                    }
                    .product-detail__content__price__sale{
                        display: inline-block;
                    }
                }

                .product-detail__content__size{
                    margin-bottom: 10px;
                    border-bottom: 1px solid $color-default-lightgray;
                    .product-detail__content__size__title{
                        margin-bottom: 5px;
                    }
                    .product-detail__content__size__select{
                        font-size: 12px;
                        margin-bottom: 10px;
                    }
                    .product-detail__content__size__one-select{
                        display: inline-block;
                        margin-right: 10px;
                        width: 35px;
                        height: 35px;
                        border: 1px solid $color-default-lightgray;
                        padding-top: 10px;
                        padding-left: 11px;
                        cursor: pointer;
                    }
                    .product-detail__content__size__active-select{
                        display: inline-block;
                        margin-right: 10px;
                        width: 35px;
                        height: 35px;
                        border: 2px solid $color-default-youtube;
                        padding-top: 8px;
                        padding-left: 8px;
                    }
                    .product-detail__content__support{
                        p{
                            font-weight: 700;
                            margin-bottom: 10px;
                        }
                    } 
                }
                .product-detail__content__count{
                    display: inline-block;
                    margin-right: 20px;

                    input[type=button] {
                        background: none;
                        border: 1px solid $color-default-lightgray;
                        width: 35px;
                        height: 35px;
                    }
                    input[type=number] {
                        -moz-appearance: textfield;
                        max-width: 75px;
                        height: 35px;
                        text-align: center;
                        border: 1px solid $color-default-lightgray;
                        border-left: none;
                        border-right: none;
                        margin-top: -1px;
                        border-radius: 0;
                    }
                    .product-detail__content__count__title{
                        font-weight: 700;
                        margin-bottom: 5px;
                    }
                }
                .product-detail__content__action{
                    margin-top: 15px;
                    input[type=button]{
                        height: 35px;
                        margin-right: 5px;
                        text-align: center;
                        background-color: $color-button-gray;
                        text-transform: uppercase;
                        font-weight: 700;
                        padding: 0 10px;
                        border: 1px solid $color-button-gray;
                        color: $color-default-white;
                    }
                    p{
                        margin-top: 5px;
                    }
                }
                
            }//end product-detail-content
        }//end product-detail-grid
    }
}