// import style library
@import '../../../App.css';
@import '../../../scss/Variable.scss';

// style for product-detail
.product-detail{
    padding-top: 50px;
    padding-bottom: 50px;
    color: $color-default-black;
    background-color: $color-default-white;

    a,
    a:active,
    a:focus,
    a:visited{
        color: $color-default-black;
    }
    .wrapper {
        max-width: 1170px;
        margin: 0 auto;
        .product-detail-grid{
            display: grid;
            grid-template-columns: 1fr 5fr 6fr;
            grid-column-gap: 30px;
            .product-detail__list-image{
                .product-detail__list-image__image {
                    width: 100px;
                    height: 100px;
                    overflow: hidden;
                    margin-bottom: 10px;
                    border: 1px solid $color-default-lightgray;
                }
            } 
            .product-detail__main-image__image{
                height: 443px;
                border: 1px solid $color-default-lightgray;
                margin-bottom: 10px;
            }
            .product-detail__content{
                #add-to-cart{
                    margin-bottom: 10px;
                }
                .product-detail__content__header{
                    border-bottom: 1px solid $color-default-lightgray;
                    margin-bottom: 10px;
                    span{
                        margin: 0 5px;
                    }
                    h2{
                        margin: 0;
                    }
                    p{
                        margin-bottom: 10px;
                    }
                    .product-detail__content__header__brand,
                    .product-detail__content__header__type,
                    .product-detail__content__header__code{
                        display: inline-block;
                    }
                }
                .product-detail__content__price{
                    border-bottom: 1px solid $color-default-lightgray;
                    margin-bottom: 10px;
                    p{
                        margin-bottom: 10px;
                    }
                    .product-detail__content__price__current-price{
                        display: inline-block;
                        color: $color-default-youtube;
                        margin-right: 20px;
                        font-weight: $font-weight-700;
                        font-size: $font-size-24;
                    }
                    .product-detail__content__price__original-price{
                        display: inline-block;
                        color: $color-default-lightgray;
                        margin-right: 20px;
                        font-weight: $font-weight-700;
                        font-size: $font-size-24;
                    }
                    .product-detail__content__price__sale{
                        display: inline-block;
                    }
                }

                .product-detail__content__size{
                    margin-bottom: 10px;
                    border-bottom: 1px solid $color-default-lightgray;
                    .product-detail__content__size__title{
                        margin-bottom: 5px;
                    }
                    .product-detail__content__size__select{
                        font-size: $font-size-12;
                        margin-bottom: 10px;
                    }
                    .product-detail__content__size__one-select{
                        display: inline-block;
                        margin-right: 10px;
                        width: 35px;
                        height: 35px;
                        border: 1px solid $color-default-lightgray;
                        padding-top: 10px;
                        padding-left: 11px;
                        cursor: pointer;
                    }
                    .product-detail__content__size__active-select{
                        border: 2px solid $color-default-youtube;
                     }
                    .product-detail__content__support{
                        p{
                            font-weight: $font-weight-700;
                            margin-bottom: 10px;
                        }
                    } 
                }
                .product-detail__content__count{
                    display: inline-block;
                    margin-right: 20px;

                    input[type=button] {
                        background: none;
                        border: 1px solid $color-default-lightgray;
                        width: 35px;
                        height: 35px;
                    }
                    input[type=number] {
                        -moz-appearance: textfield;
                        max-width: 75px;
                        height: 35px;
                        text-align: center;
                        border: 1px solid $color-default-lightgray;
                        border-left: none;
                        border-right: none;
                        margin-top: -1px;
                        border-radius: 0;
                    }
                    .product-detail__content__count__title{
                        font-weight: $font-weight-700;
                        margin-bottom: 5px;
                    }
                }
                .product-detail__content__action{
                    display: inline-block;
                    input[type=button]{
                        height: 35px;
                        margin-right: 5px;
                        text-align: center;
                        background-color: $color-button-gray;
                        text-transform: uppercase;
                        font-weight: $font-weight-700;
                        padding: 0 10px;
                        border: 1px solid $color-button-gray;
                        color: $color-default-white;
                    }
                }
                .product-detail__content__description{
                    border-bottom: 1px solid $color-default-lightgray;
                    margin-bottom: 10px;
                    p{
                        margin-bottom: 15px;
                    }
                    img{
                        width: 100%;
                        max-height: 300px;
                    }
                }
                .product-detail__content__transport {
                    min-width: 200px;
                    border: 2px dashed $color-default-green;
                    border-radius: 5px;
                    padding: 20px;

                    .product-detail__content__transport__item{
                        display: grid;
                        grid-template-columns: 50px 11fr;
                        margin-bottom: 10px;
                        i{
                            color: $color-default-green;
                            margin-right: 15px;
                            font-size: $font-size-36;
                        }
                        p.title{
                            text-transform: uppercase;
                            font-weight: $font-weight-700;
                            font-size: $font-size-16;
                            margin-bottom: 0;
                        }
                    }
                }
            }//end product-detail-content
        }//end product-detail-grid
    }
}