// import style library
@import '../../../scss/Variable.scss';
@import '../../../App.css';

// style for code
.product{
    &__collection{
        padding-top: 30px;
        padding-bottom: 30px;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: 0.4s ease-in-out;
        }
        &-grid{
            margin-top: 30px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            column-gap: 30px;
        }
        &__list-small{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 150px 150px;
            grid-gap: 30px;
            &__single{
                height: 170px;
                overflow: hidden;
            }
            &__single:hover{
                img{
                    transform: scale(1.2) translateZ(0);
                }
            }
        }
        &__big{
            min-height: 450px;
            max-height: 550px;
            overflow: hidden;
        }
        &__big:hover{
            img{
                transform: scale(1.2) translateZ(0);
            }
        }
    }// end product__collection
}