// import style library
@import '../../scss/Variable.scss';
@import '../../App.css';

// style for code
.product{
    h2{
        font-size: $font-size-24;
        font-weight: $font-weight-700;
        text-transform: uppercase;
        text-align: center;
        position: relative;
    }
    h2:after{
        content: '';
        width: 120px;
        height: 3px;
        background-color: $color-default-black;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        bottom: -7px;
    }
}