// import library
@import '../../scss/Variable.scss';

// style for header
.header-fix{
    position: fixed !important;
    top: 0;
    left: 0;
    background-color: $color-default-black !important;
    width: 100%;
    margin: 0 !important;
    height: auto !important;
    padding-top: 15px;
    animation-name: opacityAuto;
    animation-duration: 0.4s;
    z-index: 999;
}
@keyframes opacityAuto {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.header {
    position: relative;
    margin: 15px 0;
    background-color: transparent;
    height: 50px;
    z-index: 999;
        // style for wrapper inside header

        .header-grid{
            display: grid;
            grid-template-columns: 1fr 3fr;
            height: 100%;

            .header-grid__logo{
                padding-left: 30px;
            }
            .header-grid__navigation{
                font-size: $font-size-16;
                font-weight: $font-weight-700;
                padding-left: 30px;
                padding-top: 3px;

                a{
                    color: $color-default-white;
                    text-transform: uppercase;
                    cursor: pointer;
                    position: relative;
                }

                a:after{
                    content: '';
                    width: 0;
                    background-color: $color-default-white;
                    height: 1px;
                    position: absolute;
                    left: 0;
                    bottom: -1px;
                    transition: 0.8s ease-in-out;
                }
                a:hover::after{
                    width: 100%;
                }

                .header-grid__navigation__link,
                .header-grid__navigation__search,
                .header-grid__navigation__account,
                .header-grid__navigation__cart{
                    display: inline-block;
                }
                .header-grid__navigation__search,
                .header-grid__navigation__account,
                .header-grid__navigation__cart{
                    margin-right: 15px;
                }
                .header-grid__navigation__link{
                    ul{
                        display: flex;
                        flex-direction: row;
                        li {
                            margin-right: 15px;
                            height: 40px;
                            line-height: 40px;
                        }
                    }
                    .header-grid__navigation__link__dropdown{
                        position: relative;
                        .header-grid__navigation__link__dropdown--level-2{
                            position: absolute;
                            top: 100%;
                            left: 0;
                            width: 200px;
                            display: none;
                            flex-direction: column;
                            background-color: $color-default-white;
                            li{
                                position: relative;
                                margin: 0;
                                a {
                                    display: block;
                                    padding: 0 15px;
                                    color: $color-default-black;
                                    height: 100%;
                                    border-bottom: 1px dashed $color-default-black;
                                    text-transform: none;
                                    transition: 0.4s ease-out;
                                }
                                a:hover{
                                    transition: 0.4s ease-in;
                                    padding-left: 30px;
                                }
                                a.last-child-a{
                                    border-bottom: none;
                                }
                            }
                        }
                    }
                    .header-grid__navigation__link__dropdown:hover{
                        .header-grid__navigation__link__dropdown--level-2{
                            display: flex;
                            a:after{
                                display: none;
                            }
                        }
                    }
                }
                .header-grid__navigation__search{
                    position: relative;
                    .header-grid__navigation__search__form-close {
                        display: none;
                    }
                    .header-grid__navigation__search__form-search {
                        position: absolute;
                        top: calc(100% + 10px);
                        right: 0;
                        padding: 15px;
                        background-color: $color-default-white;
                        width: 400px;
                        border-radius: 5px;
                        input{
                            height: 35px;
                            width: 90%;
                            padding: 0 15px;
                            background-clip: padding-box;
                            border: 1px solid $color-default-lightgray;
                        }
                        input:focus{
                            outline: none;
                        }
                        button{
                            height: 35px;
                            width: 35px;
                            background: $color-default-lightgray;
                            border: 1px solid $color-default-lightgray;
                            transform: translateY(1px);
                            margin-left: -1px;
                            font-size: 18px;
                        }
                        button:focus{
                            outline: none;
                        }
                    }
                }
            }
        }
}