// import style library
@import '../../../../App.css';
@import '../../../../scss/Variable.scss';

// style for function
.task-control{
    margin-top: 15px;
    &__grid{
        display: grid;
        grid-template-columns: 6fr 6fr;
        column-gap: 30px;
    }
}
