/* import library */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('./plugins/font-awesome-4.7.0/css/font-awesome.css');
/* declare variable */


/* style for all tag */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
}
ul {
  list-style: none;
}
a{
  text-decoration: none;
}
.wrapper{
  max-width: 1200px;
  margin: 0 auto;
}

button[type=button]{
  font-family: 'Roboto Condensed', sans-serif !important;
}
button:focus{
  outline: none !important;
}


/* remove arrow up/down count input */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}