// declare variable
    $color-default-white: #fff;
    $color-default-black: #111;
    $color-default-facebook-40: #3b589852;
    $color-default-black-25: rgba(0, 0, 0, 0.25);
    $color-default-black-50: rgba(0, 0, 0, 0.5);
    $font-size-12: 12px;
    $font-size-14: 14px;
    $font-size-16: 16px;
    $font-size-18: 18px;
    $font-size-20: 20px;
    $font-size-24: 24px;
    $font-size-36: 36px;
    $font-size-48: 48px;
    $font-weight-700: 700;
    $color-default-lightgray: lightgray;
    $color-button-gray: #747474;
    $color-default-gray: gray;
    $color-default-facebook: #3B5998;
    $color-default-instagram: #C32AA3;
    $color-default-youtube: #FF0000;
    $color-default-sale: #d30000;
    $color-default-top: #747474;
    $color-default-lighblue: rgb(61, 92, 156);
    $color-default-green: green;
    $color-default-base-background: rgba(0, 0, 0, 0.2);