// import style library
@import '../../../App.css';
@import '../../../scss/Variable.scss';

// style for function
.cart-item {
    td {
        padding: 15px;
    }
    &__item-detail {
         display: grid;
         grid-template-columns: 1fr 1fr;
         column-gap: 30px;
         &__image {
             width: 142px;
             height: 142px;
             background: $color-default-gradient-v1;
         }
        &__content {
            h3,p {
                padding-bottom: 5px;
            }
            button[type=button] {
                padding: 6px 12px; 
                border: 1px solid $color-default-lightgray;
                border-radius: 4px;
            }
        }
        &__action {
            button[type=button],
            input[type=text] {
                background-color: transparent;
                border: 1px solid $color-default-lightgray;
                height: 34px;
                width: 34px;
                padding: 0.375rem;
                font-size: $font-size-16;
            }
            input[type=text] {
                width: 50px;
                margin-top: 1px;
                border-left: 0;
                border-right: 0;
                padding: 6px 12px;
                text-align: center;
                &:focus {
                    outline: none;
                }
            }
        }
    }
}