// import style library
@import '../../scss/Variable.scss';
@import '../../App.css';

// style for code
.slider{
    position: relative;
    z-index: 2;
    top: 0;
    left: 0;
    margin-top: -80px;
    height: 100vh;
    

    .slick-arrow{
        display: none !important;
    }
    .slick-dots{
        bottom: 50px;
        li button:before{
            content: '';
            background-color: $color-default-white;
            border: 1px solid $color-default-black;
            border-radius: 50%;
        }
    }
    .slick-slider{
        height: 100%;
        .slick-list{
            height: 100%;
        }  
        div {
            height: 100%;
        } 
    }
    &__slide{
        position: relative;
        height: 100%;

        &::after{
            position: absolute;
            top: 0;
            left: 0;
            content: '';
            width: 100%;
            height: 100%;
            background-color: $color-default-black-25;
            z-index: 10;
        }
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: relative;
        }
        &__contents{
            position: absolute;
            top: 35%;
            left: 40px;
            width: 40vw;
            z-index: 11;
            height: auto !important;

            &__small-title{
                p{
                    color: $color-default-white;
                    text-transform: uppercase;
                    font-size: $font-size-24;
                }
                margin-bottom: 5px;
            }
            &__title{
                p{
                    font-size: $font-size-48;
                    text-transform: uppercase;
                    color: $color-default-white;
                    font-weight: $font-weight-700;
                }
                margin-bottom: 15px;
            }
            &__button{
                a{
                    min-width: 150px;
                    background-color: $color-default-white;
                    padding: 0 15px;
                    margin-bottom: 15px;
                    line-height: 40px;
                    height: 40px;
                    color: $color-default-black;
                    text-transform: uppercase;
                    font-size: $font-size-16;
                    font-weight: $font-weight-700;
                    display: inline-block;
                    text-align: center;
                    margin-right: 20px;
                    border: 1px solid $color-default-white;
                }
                &--last-child{
                    background-color: transparent !important;
                    color: $color-default-white !important;
                }
            }
        }
    }
}
@media only screen and (max-width: 480px) {
    .slider {
        height: 80vh;

        &__slide {
            &__contents {
                top: 25%;
                left: 30px;
                &__title {
                    p {
                        font-size: 36px
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 450px) {
    .slider {
        height: 80vh;

        &__slide {
            &__contents {
                left: 10px;
            }
        }
    }
}
@media only screen and (max-width: 320px) {
    .slider {
        height: 60vh;

        &__slide {
            &__contents {
                top: 15%;
                left: 10px;

                &__title {
                    p {
                        font-size: 30px;
                    }
                }
            }
        }
    }
}