// import style library
@import '../../scss/Variable.scss';
@import '../../App.css';

// style for code
.slider{
    position: relative;
    z-index: 2;
    top: 0;
    left: 0;
    margin-top: -80px;
    height: 100vh;
    
    .slick-arrow{
        display: none !important;
    }
    .slick-dots{
        bottom: 50px;
        li button:before{
            content: '';
            background-color: $color-default-black;
        }
    }
    .slick-slider{
        height: 100%;
        .slick-list{
            height: 100%;
        }   
    }
    &__slide{
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: relative;
        }
        &__contents{
            position: absolute;
            top: 35vh;
            width: 40vw;
            &__small-title{
                p{
                    color: $color-default-white;
                    text-transform: uppercase;
                    font-size: $font-size-24;
                }
                margin-bottom: 5px;
            }
            &__title{
                p{
                    font-size: $font-size-48;
                    text-transform: uppercase;
                    color: $color-default-white;
                    font-weight: $font-weight-700;
                }
                margin-bottom: 15px;
            }
            &__button{
                a{
                    min-width: 150px;
                    background-color: $color-default-white;
                    padding: 0 15px;
                    line-height: 40px;
                    height: 40px;
                    color: $color-default-black;
                    text-transform: uppercase;
                    font-size: $font-size-16;
                    font-weight: $font-weight-700;
                    display: inline-block;
                    text-align: center;
                    margin-right: 20px;
                    border: 1px solid $color-default-white;
                }
                &--last-child{
                    background-color: transparent !important;
                    color: $color-default-white !important;
                }
            }
        }
    }
}